<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Boot CRUD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<a th:href="${'/choice/new'}">New Option</a>
<div th:if="${not #lists.isEmpty(choices)}">
    <h2>Option List</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
        <tr th:each="choice : ${choices}">
            <td th:text="${choice.nombre_Opcion}"></td>
            <td th:text="${choice.precio_Opcion}"></td>
            <td><a th:href="${'/choice/' + choice.id}">View</a></td>
            <td><a th:href="${'/choice/edit/' + choice.id}">Edit</a></td>
            <td><a th:href="${'/choice/delete/' + choice.id}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>